@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&family=Orbitron:wght@400;700&family=Oswald:wght@200;700&family=Roboto&family=Sansita+Swashed&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.upper-section {
    height: 55vh;
    background-color: #383a31;
    color: #ffffff;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

img {
    position: relative;
    width: 120px;
}

.list {
    display: flex;
    position: relative;
    right: 50px;
    color: #7F8487;
}

li:first-child {
    color: #ffffff;
}

.list-items 
{
    list-style-type: none;
    margin-left: 15px;
    margin-right: 10px;
    padding: 0 15px;
    position: relative;
    left: 200px;
    top: 10px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.button {
    background: transparent;
    padding: 10px 22px;
    border: 1px solid #C58940;
    border-radius: 8px;
    color: #C58940;
}

.description-section {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    font-size: 65px;
    margin-left: 30px;
    padding-left: 40px;
    width: 50%;
    position: relative;
    right: 35px;
    letter-spacing: 2px;
    line-height: 90px;
}

.description {
    width: 28%;
    position: relative;
    right: 70px;
    top: 40px;
    line-height: 30px;
    color: #B7B7B7;
}

.lower-section {
    height: 45vh;
    background: url(./images/pexels-ekaterina-bolovtsova-6077326.jpg);
    background-size: 100vw 900px;
    background-position-y: 35%;
}
